@model object
@using Models
@{
    IPaginated paginated = Model as IPaginated;
    IFilterable filterable = Model as IFilterable;
    ISortable sortable = Model as ISortable;


    int pages = paginated.CountItems / paginated.PageSize + (paginated.CountItems % paginated.PageSize > 0 ? 1 : 0);
    int currentPage = paginated.Skip == 0 ? 1 : paginated.Skip / paginated.PageSize + 1;
    string previous = currentPage == 1 ? "disabled" : "";
    string next = currentPage == pages ? "disabled" : "";
    string next10 = currentPage > pages - 10 ? "disabled" : "";
    string next100 = currentPage > pages - 100 ? "disabled" : "";
    string next1000 = currentPage > pages - 1000 ? "disabled" : "";
    int min1 = currentPage == 0 ? currentPage - 1 : currentPage - 2;
    int min2 = currentPage + 5;
    <nav aria-label="...">
        <ul class="pagination">
            @{

                if (pages > 1)
                {
                    if (pages > 1000)
                    {
                        <li class="page-item @(currentPage <= 1000 ? " disabled" : "")">
                            <a class="page-link" asp-page="" asp-route-skip="@((currentPage-1001)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">&lt;&lt;1000</a>
                        </li>
                    }
                    if (pages > 100)
                    {
                        <li class="page-item @(currentPage <=100 ? " disabled" : "")">
                            <a class="page-link" asp-page="" asp-route-skip="@((currentPage-101)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">&lt;&lt;100</a>
                        </li>
                    }
                    if (pages > 10)
                    {
                        <li class="page-item @(currentPage <=10 ? " disabled" : "")">
                            <a class="page-link" asp-page="" asp-route-skip="@((currentPage-11)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">&lt;&lt;10</a>
                        </li>
                    }
                    <li class="page-item @previous">
                        <a class="page-link" asp-page="" asp-route-skip="@((currentPage-2)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">Previous</a>
                    </li>
                    if (pages <= 10)
                        for (int i = 1; i < pages + 1; i++)
                        {
                            if (currentPage == i)
                            {
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">@i</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item ">
                                    <a class="page-link" asp-page="" asp-route-skip="@((i-1)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">@i</a>
                                </li>
                            }
                        }
                    else
                        for (int i = 1; i < pages + 1; i++)
                        {
                            if (i > min1 && i < min2 || i > pages - 4)
                            {
                                if (currentPage == i)
                                {
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">@i</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item ">
                                        <a class="page-link" asp-page="" asp-route-skip="@((i-1)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">@i</a>
                                    </li>
                                }
                            }
                            if (i == min2)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link">...</a>
                                </li>
                            }
                        }
                    <li class="page-item @next">
                        <a class="page-link" asp-page="" asp-route-skip="@(currentPage*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">Next</a>
                    </li>
                    if (pages > 10)
                    {
                        <li class="page-item @(currentPage > pages-10 ? " disabled" : "")">
                            <a class="page-link" asp-page="" asp-route-skip="@((currentPage+9)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">&gt;&gt;10</a>
                        </li>
                    }
                    if (pages > 100)
                    {
                        <li class="page-item @(currentPage > pages-100 ? " disabled" : "")">
                            <a class="page-link" asp-page="" asp-route-skip="@((currentPage+99)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">&gt;&gt;100</a>
                        </li>
                    }
                    if (pages > 1000)
                    {
                        <li class="page-item @(currentPage > pages-1000 ? " disabled" : "")">
                            <a class="page-link" asp-page="" asp-route-skip="@((currentPage+999)*paginated.PageSize)" asp-route-sort="@sortable.Sort" asp-route-filter="@filterable.Filter">&gt;&gt;1000</a>
                        </li>
                    }
                    if(pages>100)
                    {
                        <li class="page-item @(currentPage > pages-100 ? " disabled" : "")">
                            <input type="number" id="Page" class="page-link" placeholder="Page №"/>
                            <input type="hidden" id="PageSize" value="@paginated.PageSize" />
                            <a class="page-link" href="javascript:void(0);" onclick="goToPage()">Go</a>
                        </li>
                    }
                }
            }
        </ul>
    </nav>
}

